body {
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0px auto;
  font-size: 12px;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin: 0px auto;
}

table,
th,
td {
  border: 1px solid #333;
  border-collapse: collapse;
  padding: 7px;
  margin: 0px auto;
}

a {
  margin-right: 5px;
}

ul {
  color: red;
  font-weight: bold;
}

form {
  margin: 10px 0;
}

.buscar {
  width: 30%;
}

tbody tr:nth-child(odd) {
  background-color: #eee;
  width: 100%;
}

.tabela-container {
  width: 95%; /* ou a largura desejada */
  height: 350px; /* ou a altura desejada */
  overflow: auto; /* ou overflow: scroll; */
}

input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 12px;
  background-color: #005752;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #007067;
}

.form {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
