<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>{% if peca %}Editar{% else %}Cadastrar{% endif %} Item</title>
  </head>
  <body>
    <h1>{% if peca %}Editar{% else %}Cadastrar{% endif %} Item</h1>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <ul>
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}

    <form method="POST">
      <input
        name="codigo"
        placeholder="Código"
        value="{{ peca.id_codigo if peca else '' }}"
        required
      /><br />
      <input
        name="descricao"
        placeholder="Descrição"
        value="{{ peca.descricao if peca else '' }}"
        required
      /><br />
      <input
        name="fabricante"
        placeholder="Fabricante"
        value="{{ peca.fabricante if peca else '' }}"
        required
      /><br />
      <input
        name="aplicacao"
        placeholder="Aplicação"
        value="{{ peca.aplicacao if peca else '' }}"
        required
      /><br />
      <button type="submit">Salvar</button>
    </form>
    <a href="{{ url_for('index') }}"><button type="submit">Voltar</button></a>
  </body>
</html>
